:root {
  --dark-background: #1A1A1A;
  --blue-accent: #00BCD4; /* Cyan-type blue */
  --light-text: #FFFFFF;
  --subtle-text: #CCCCCC;
  --button-background: #00BCD4; /* Use the same accent color for buttons */
  --button-text: #FFFFFF;
}
body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-background);
  color: var(--light-text);
}

.pomodoro {
  text-align: center;
}

.message {
  margin-bottom: 20px;
  color: var(--blue-accent);
}

.timer {
  font-size: 3em;
  font-weight: bold;
  color: var(--blue-accent);
}

.start-button, .stop-button, .reset-button, .edit-button{
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
}

.start-button:hover, .stop-button:hover, .reset-button:hover, .edit-button:hover{
  background-color: #0097A7; /* Slightly darker shade of blue */
}

/* Edit Form */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* semi-transparent black */
}

.modal-content {
  background-color: #333; /* dark grey */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888; /* light grey */
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; /* white */
  border-radius: 10px; /* rounded corners */
}

.edit-inputs input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #292929; /* light grey */
  border-radius: 4px;
  background-color: #222; /* very dark grey */
  color: #fff; /* white */
}

.save-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-background); /* green */
  color: white;
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--button-background); /* darker green */
}

.duration-label {
  margin-right: 10px;
}

.timer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  position: absolute;
  top: -20px; /* adjust as needed */
  background-color: var(--dark-background);
  width: 80%;
  justify-content: center;
}